

.navbar-brand {
    /* background-color: #4aaaa5;
    color: #ffffff;
    padding: 18px 16px;
    font-family: Georgia, 'Times New Roman', Times, serif; */


}

#navName {
    background-color: #4aaaa5;
    color: #ffffff;
    padding: 18px 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* .navbar-nav a:hover {
    background-color: #4aaaa5;
    color: #ffffff;
} */

body {
    background-image: url("../images/subtle_grunge.png");
    margin: 0px;
}

@media (max-width: 768px) {
    #headerMargin {
        max-width: 768px;
        margin-left: 0px;
        margin-right: 0px;
    }
}

@media (max-width: 768px) {
    .meImg {
        display: block;
        width: 100%;
        height: auto;
    }
}

@media (min-width: 769px) {
    .meImg {
        width: 200px;
        height: 200px;
    }
}

.whiteBar {
    border-bottom: 2px solid #cccccc;
    margin-bottom: 35px;
    background-color: #ffffff;
    height: 68px;
}

.navbar {
    background-color: #4aaaa5;
    display: inline-block;
    width: 100%;
    padding: 0px;
}

#headerMargin {
    padding: 0px;
    width: 100%;
    /* margin-left: 0px;
    margin-right: 0px; */
    /* display: flex; */
}

#nameMargin {
    width: 100%;
    padding: 0px;
    text-align: center;
}
#navbarMargin {
    background-color: #ffffff;
    align-content: center;
    padding: auto;
    padding-right: 0px;
}

.contentHeader {
    color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* .headerMargin {
    border-bottom: 2px solid #cccccc;
    margin-bottom: 35px;
    background-color: #ffffff;
} */

.bodyMargins {
    margin: 100px;
    padding: 10px 40px 10px 40px;
    background-color: #ffffff;
    border: 1px solid #dddddd;
}
#aboutHeader {
    padding: 10px;
    margin-bottom: 30px;
    border-bottom: 2px solid #cccccc;
}
#aboutBody {
    display: inline-block;
}

.meImg {
    float: left;
    margin: 0px 20px 20px 0px;
}

.wrappedP {
    text-align: justify;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
}

.nav-item {
    text-decoration: none;
    margin: 0px;
    padding-left: 5px;
}

.navbar-nav {
    flex-direction: row;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    margin-top: 10px;
    /* text-align: center; */
    display: flex;
    justify-content: center;
}

.nav-link {
    font-size: 17px;
    color: #777777;
    display: inline-block;
}