

.navbar-brand {
    /* background-color: #4aaaa5;
    color: #ffffff;
    padding: 18px 16px;
    font-family: Georgia, 'Times New Roman', Times, serif; */


}

#navName {
    background-color: #4aaaa5;
    color: #ffffff;
    padding: 18px 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* .navbar-nav a:hover {
    background-color: #4aaaa5;
    color: #ffffff;
} */

body {
    background-image: url("../images/subtle_grunge.png");
    margin: 0px;
}

#footerMargins {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #666666;
    color: #f2f2f2;
    text-align: center;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 10px;
    padding-top: 15px;
    padding-bottom: 1px;
    border-top: 8px solid #4aaaa5;
}

/* @media (max-width: 768px) {
    #headerMargin {
        max-width: 768px;
        margin-left: 0px;
        margin-right: 0px;
    }
} */

@media (max-width: 768px) {
    .meImg {
        display: block;
        width: 100%;
        height: auto;
    }

    #headerMargin {
        max-width: 768px;
        margin-left: 0px;
        margin-right: 0px;
    }

    .picBox {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 100%;
        max-width: 100%;
    }
}

@media (min-width: 769px) {
    .meImg {
        width: 200px;
        height: 200px;
    }
}

.whiteBar {
    border-bottom: 2px solid #cccccc;
    margin-bottom: 35px;
    background-color: #ffffff;
    height: 68px;
}

.navbar {
    background-color: #4aaaa5;
    display: inline-block;
    width: 100%;
    padding: 0px;
}

#headerMargin {
    padding: 0px;
    width: 100%;
    /* margin-left: 0px;
    margin-right: 0px; */
    /* display: flex; */
}

#nameMargin {
    width: 100%;
    padding: 0px;
    text-align: center;
}
#navbarMargin {
    background-color: #ffffff;
    align-content: center;
    padding: auto;
    padding-right: 0px;
}

.contentHeader {
    color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* .headerMargin {
    border-bottom: 2px solid #cccccc;
    margin-bottom: 35px;
    background-color: #ffffff;
} */

.bodyMargins {
    margin: 100px;
    padding: 10px 40px 10px 40px;
    background-color: #ffffff;
    border: 1px solid #dddddd;
}
#bodyHeader {
    padding: 10px;
    margin-bottom: 30px;
    border-bottom: 2px solid #cccccc;
}
#aboutBody {
    display: inline-block;
}

.meImg {
    float: left;
    margin: 0px 20px 20px 0px;
}

.wrappedP {
    text-align: justify;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
}

.nav-item {
    text-decoration: none;
    margin: 0px;
    padding-left: 5px;
}

.navbar-nav {
    flex-direction: row;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    margin-top: 10px;
    /* text-align: center; */
    display: flex;
    justify-content: center;
}

.nav-link {
    font-size: 17px;
    color: #777777;
    display: inline-block;
}

.picBox {
    height: 200px;
    margin-bottom: 25px;
    /* margin-right: 25px; */
    padding-left:0px;
    padding-right: 0px;
}

.picLabels {
    height: 50px;
    width: 100%;
    background-color: #4aaaa5;
    color: #ffffff;
    font-size: 20px;
    line-height: 50px;
    margin-top: 135px;
    text-align: center;
    padding: auto;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

#Hangman {
    background-image: url("../images/PortfolioPic1.jpg");

}

#RPG {
    background-image: url("../images/PortfolioPic2.jpg");

}

#Trivia {
    background-image: url("../images/PortfolioPic3.jpg");


}

#Rutgers {
    background-image: url("../images/PorftolioPic4.jpg");


}

#Rock {
    background-image: url("../images/PortfolioPic5.jpg");


}

/* @media (max-width: 767px) {
    .picBox {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 100%;
        max-width: 100%;
    }
} */

/* @media (max-width: 768px) {
    .picBox {

    }
} */

#contactBody {
    width: 100%;
}

.userForm {
    width: 100%;
}

.labels {
    margin-bottom: 5px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    width: 100%;
}

.messageInput {
    height: 150px;
    width: 100%;
}

.submitButton {
    margin-top: 15px;
    background-color: #4aaaa5;
    border: 0px;
    color: #ffffff;
    padding: 8px 20px;
}

.exampleText {
    color: #777777;
    width: 100%;
    padding-left: 5px;
}